.dashboard-container {
  background-color: #1e1e2d;
  display: flex;
  height: auto;
}

.dashboard-content {
  flex: 1;
  transition: padding-left 0.3s ease;
  background-color: #1e1e2d;
  overflow: auto;
}

.open-sidebar {
  padding-left: 16rem;
}

.closed-sidebar {
  padding-left: 5rem;
}
