.financial-summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.summary-card {
  background-color: rgba(45, 55, 72, 0.5);
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: 100%;
}

.summary-card-cur {
  background-color: rgba(45, 55, 72, 0.5);
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: 100%;
}

.summary-card h2 {
  color: #718096;
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.summary-card-cur h2 {
  color: #718096;
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.amount {
  font-size: 1.5rem;
  font-weight: bold;
}

.amount.green {
  color: #4ade80;
}
.amount.orange {
  color: #f59e0b;
}
.amount.red {
  color: #ef4444;
}

.timestamp {
  color: #ef4444;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

@media (max-width: 768px) {
  .financial-summary {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .summary-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .summary-card-cur {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
    padding: 20px;
  }

  .summary-card-amount {
    grid-row-start: 1;
    grid-row-end: -1;
    display: flex;
    align-items: center;
  }

  .summary-card-minus {
    grid-row-start: 1;
    grid-row-end: -1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
  }
}
