.recentUpdates {
  background-color: #1e1e2d;
  padding: 30px;
  height: auto;
}

.recentUpdatesContentContainer {
  background-color: #2d3748;
  border-radius: 8px;
  color: #ffffff;
}

.recentUpdatesTitle {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #9fa2b4;
  border-bottom: 1px solid #4a5568;
  padding: 20px;
}

.recentUpdatesTable {
  width: 100%;
}

.recentUpdatesTableTitles {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  color: #9fa2b4;
  text-transform: uppercase;
  font-size: 14px;
}

.recentUpdatesTableTitles > div {
  flex: 1;
  text-align: left;
}

.recentUpdatesTableItems {
  padding-bottom: 20px;
}

.recentUpdatesRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #4a5568;
  padding: 30px;
}

.recentUpdatesRow > div {
  flex: 1;
  text-align: left;
}

.recentUpdatesRow:last-child {
  border-bottom: none;
}

.expense {
  color: #e74c3c;
}

.expense-amount {
  color: #e74c3c;
}

.income {
  color: #4caf50;
}

.income-amount {
  color: #4caf50;
}

.recentUpdatesRow:hover {
  background-color: #4a5568;
}
